.link--hover {
  transition-duration: .35s;
}

.link--hover:hover {
  opacity: .6;
}

.selected {
  outline: 2px solid white;
  font-weight: bold;
}

.btn--twitter {
  background-color: #1da1f2!important;
  color: white;
}

.btn--twitter:hover {
  background-color: #1387cf!important;
}


