{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <h1 class="text-center mt-3">Log-in</h1>

  <div class="login-form">
    <form class="form p-5" action="{% url 'login' %}" method="post">
      {% bootstrap_form form %}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />

      <div>
        <button type="submit" class="btn btn-danger mr-3">
          <i class="fas fa-sign-in-alt"></i>
          Log in
        </button>

        <a href="{% url "password_reset" %}">Forgotten your password?</a>
      </div>
    </form>
  </div>

  <div class="social">
    <ul class="list-unstyled float-right">
      <li class="facebook">
        <a class="btn btn-primary mt-2 disabled" href="{% url "social:begin" "facebook" %}">
          <i class="fab fa-facebook-f"></i>
          Sign in with Facebook
        </a>
      </li>

      <li class="twitter">
        <a class="btn btn-primary btn--twitter mt-2 disabled" href="{% url "social:begin" "twitter" %}">
          <i class="fab fa-twitter"></i>
          Login with Twitter
        </a>
      </li>

      <li class="google">
        <a class="btn btn-danger mt-2" href="{% url "social:begin" "google-oauth2" %}">
          <i class="fab fa-google-plus-g"></i>
          Login with Google
        </a>
      </li>
    </ul>
  </div>
{% endblock %}