{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <h1 class="text-center mt-3">Reset your password</h1>

  {% if validlink %}
    <p class="text-center mt-2">Please enter your new password twice:</p>

    <form action="." method="post">
      {% bootstrap_form form %}
      {% csrf_token %}
      
      <button type="submit" class="btn btn-danger mr-3">
        <i class="far fa-save"></i>
        Change my password
      </button>
    </form>
  {% else %}
    <p class="text-center mt-3">
      The password reset link was invalid, possibly because it has already been used. 
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}