{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
  {% if validlink %}
    <p>Please enter your new password twice</p>

    <form action="." method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
    
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          Change password
        </button>
      {% endbuttons %}
    </form>
  {% else %}
    <p>Link was invalid, possibly it has already been used</p>
  {% endif %}
{% endblock content %}