{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Change you password{% endblock %}

{% block content %}
  <h1 class="mt-3 text-center">Change you password</h1>

  <p class="mt-3 text-center">Use the form below to change your password.</p>
  
  <form class="form p-5" action="." method="post">
    {% bootstrap_form form %}
    {% csrf_token %}

    <button type="submit" class="btn btn-danger mr-3">
      <i class="far fa-save"></i>
      Change
    </button>
  </form>
{% endblock %}