{% extends "base.html" %}
{% load thumbnail %}

{% block title %}People{% endblock %}

{% block content %}
  <h1 class="text-center m-3">People</h1>

  <div id="people-list" class="d-flex flex-wrap">
    {% for user in users %}
      <div class="user m-1 d-flex flex-column align-items-center">
        <a href="{{ user.get_absolute_url }}">
          {% thumbnail user.profile.photo "180x180" crop="100%" as im %}
            <img class="rounded-circle" src="{{ im.url }}">
          {% endthumbnail %}
        </a>
        
        <div class="info">
          <a href="{{ user.get_absolute_url }}" class="title">
            {{ user.get_full_name }}
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}