{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <h1 class="text-center mt-2">Dashboard</h1>

  <div class="row mb-2">
    <div class="col-3 border rounded border-danger p-3">
      {% with total_images_created=request.user.images_created.count %}
        <h5 class="text-center">
          Welcome to your dashboard.
          You have marked 
          <span class="badge badge-danger">{{ total_images_created }}</span> 
          image{{ total_images_created|pluralize }}.
        </h5>
      {% endwith %}

      <p>
        Drag the following button to your bookmarks toolbar to bookmark images 
        from other websites → 
        <a 
          href="javascript:{% include "socialmarks_launcher.js" %}"
          class="btn btn-danger"
        >
          <i class="far fa-images"></i>
          Social-mark it
        </a>
      <p>

      <p>You can also:<p>

      <a class="btn btn-sm btn-danger" href="{% url "edit" %}">
        <i class="fas fa-cogs"></i>
        Edit your profile
      </a>

      <a class="btn btn-sm btn-danger mt-2" href="{% url "password_change" %}">
        <i class="fas fa-unlock-alt"></i>
        Change your password
      </a>.
    </div>

    <div 
      class="col-9 d-flex border rounded border-danger align-items-center flex-column" 
      id="action-list"
    >
      <h2 class="text-center m-3">What's happening</h2>

      {% for action in actions %}
        {% include "actions/action/detail.html" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}