{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Edit your account{% endblock %}

{% block content %}
  <h1 class="text-center mt-3">Edit your account</h1>
  <p class="text-center mt-2">You can edit your account using the following form:</p>

  <form class="from p-5" action="." method="post" enctype="multipart/form-data">
    {% bootstrap_form user_form %}
    {% bootstrap_form profile_form %}
    {% csrf_token %}

    <button type="submit" class="btn btn-danger">
      <i class="far fa-save"></i>
      Save changes
    </button>
  </form>
{% endblock %}